name: Test Composite Action Workflow

on:
    - push

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Run command
              run:  echo "Hello, Specter"
              shell: bash
